*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;}

#banner {
    background: linear-gradient(315deg, #ffffff 0%, #7cac7c 50%);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.logo{
    width: 140px;
    position: absolute;
    top: 4%;
    left: 4%;
}
.banner-text{
    text-align: center;
    color: #fff;
    padding-top: 180px;
}
.banner-text h1{
    font-size: 130px;
}
.banner-text p{
    font-size: 20px;
    font-style: italic;
    width: center;
    border: 15px;
    padding: 50px;
    margin: 20px;
}