*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;}

#banner {
    background: linear-gradient(315deg, #ffffff 0%, #7cac7c 50%);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.logo{
    width: 400px;
    top: 4%;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.banner-text{
    text-align: center;
    color: #fff;
    padding-top: 0px;
}
.banner-text h1{
    font-size: 60px;
    font-family: 'Patua One', cursive;
    padding-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    letter-spacing: 0.08em;
}
.banner-text p{
    font-size: 20px;
    width: center;
    border: 15px;
    margin: 25px;
    font-family: 'Poppins', sans-serif;
    margin-left: 20%;
    margin-right: 20%;
}
.banner-btn{
    margin: 5px auto;
    margin-left: 20%;
    margin-right: 20%;
    
}
.banner-btn a{
    text-align: center;
    letter-spacing: 0.00em;
    color: #000;
    width: 100px;
    text-decoration: none;
    display: inline-block;
    margin: 0 5px;
    padding: 12px 0;
    position: relative;
    z-index: 1;
    transition: color 0.1s;
}
.banner-btn a span{
    width: 100%;
    height: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #000;
    z-index: -1;
    transition: 0.1s;
}
.banner-btn a:hover span{
    height: 7%;
}
.banner-btn a:hover{
    color: #49c0f7;
    font-weight: bold;
}



//the stuff below needs to be changed to stay at the bottom of the page{}
#sideNav{
    width: 100px;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    background: #7cac7c;
    z-index: 2;
}
nav ul li{
    list-style: none;
    margin: 50px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}
#manuBtn{
    width: 50px;
    height: 50px;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}

@media screen and (max-width; 770px){
    .banner-text h1{
        font-size: 44px;
        font-family: 'Poppins', sans-serif;}
    }
}